.item-page {
    background-color: #F5F5F5;
    width: 100vw;
    height: 100%;
}

.content {
    margin-inline: 4vw;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

.item-search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    gap: 0.8vw;
}

.jenis-input {
    font-family: 'poppins-regular';
    height: 6.5vh;
    font-size: 1rem;
    padding-left: 0.5vw;
    border: 1px solid #146C94;
    border-radius: 5px;
}

.input-field input {
    font-family: 'poppins-regular';
    width: 60vw;
    height: 6.5vh;
    padding-left: 0.7vw;
    font-size: 1rem;
    border: 1px solid #146C94;
    border-radius: 5px;
}

.search-button button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    gap: 0.2vw;
    font-family: 'poppins-bold';
    font-size: 1rem;
    width: 8vw;
    height: 6.5vh;
    border-radius: 5px;
    border: 0;
    background-color: #146C94;
    color: #F5F5F5;
    cursor: pointer;
}

.search-button button span {
    font-size: 1rem;
}

.search-button button:hover {
    background-color: #1a488e;
}

.search-button button:active {
    transform: scale(1.1);
}

.item-result {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-bottom: 20vh;
}

.item-result-judul h1 {
    font-family: 'poppins-bold';
    font-size: 2rem;
    color: #146C94;
    /* margin-bottom: 2vh; */
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    column-gap: 4vw;
    row-gap: 10vh;
}

.item-cards {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    border: 1.5px solid #146C94;
    border-radius: 3px;
    width: 20vw;
    padding-bottom: 2vh;
}

.item-cards img {
    width: 20vw;
    height: 40vh;
    border-bottom: 2px solid #146C94;
}

.item-info {
    display: flex;
    flex-direction: column;
    /* gap: 1vh; */
    padding-left: 3px;
}

.item-info h4 {
    font-family: 'poppins-semi';
    margin-top: 1vh;
    font-size: 0.9rem;
    color: #252525;
}

.item-info h1 {
    font-family: 'poppins-semi';
    color: #146C94;
    font-size: 1.3rem;
}

.item-info p {
    font-family: 'poppins-regular';
    font-size: 1rem;
    color: #252525;
}

.item-info button {
    font-family: 'poppins-semi';
    font-size: 1rem;
    width: fit-content;
    margin-top: 2vh;
    padding: 0.5vh 1vw;
    background-color: #146C94;
    color: #F5F5F5;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.item-info button:hover {
    background-color: #1a488e;
}