.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #146C94;
    width: 100vw;
    height: 100vh;
}

.login {
    width: 70vw;
    height: 60vh;
    display: flex;
    padding-bottom: 15vh;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    padding-top: 5vh;
    padding-inline: 5vw;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.logo-login {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    border-right: 1px solid #B7B7B7;
    padding-top: 5vh;
    padding-bottom: 12vh;
    padding-right: 7vw;
}

.logo-login img {
    width: 20vw;
}

.logo-login h5 {
    font-family: 'source-regular';
    font-size: 1.7rem;
    word-spacing: 1.5px;
    font-weight: 100;
    width: 30vw;
    color: #252525;
}

.logo-login h5 .slogan {
    font-family: 'source-bold';
    color: #146C94;
    font-size: 2rem;
    letter-spacing: 1.5px;
}

.logo-login h5 .hey {
    font-family: 'source-bold';
    color: #146C94;
    display: flex;
}

.logo-login h5 .health {
    color: #19A7CE;
    display: flex;
}

.logo-login h5 .titik {
    font-family: 'source-regular';
    color: #252525;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding-bottom: 5vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.judul h1 {
    font-family: 'source-bold';
    font-size: 2rem;
    color: #1a488e;
    letter-spacing: 1.5px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.input {
    font-family: 'source-regular';
    width: 20vw;
    height: 5vh;
    padding-left: 0.6vw;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    /* letter-spacing: 1px; */
    font-size: 1rem;
}

.button {
    font-family: 'source-bold';
    font-size: 1.2rem;
    width: 20.6vw;
    height: 6vh;
    background-color: #146C94;
    color: #F5F5F5;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    /* margin-top: 1vh; */
}

.button:hover {
    background-color: #1a488e;
    text-decoration: underline;
}

.forgot a {
    font-family: 'source-regular';
    font-size: 0.9rem;
    color: #146C94;
}

.forgot a:hover {
    text-decoration: underline;
}

.signup {
    font-family: 'source-regular';
    font-size: 0.9rem;
}

.signup p a {
    color: #146C94;
}

.signup a:hover {
    text-decoration: underline;
}

@media (width <=1100px) {
    .logo-login {
        gap: 4vh;
        padding-right: 5vw;
    }

    .logo-login h5 {
        font-size: 1.4rem;
    }

    .logo-login h5 .slogan {
        font-size: 1.8rem;
    }

    .input {
        height: 3vh;
    }

    .button {
        height: 4vh;
    }

    .login {
        padding-top: 0;
        padding-bottom: 5vh;
    }
}

@media (width <=1024px) {
    .input {
        width: 21.4vw;
        font-size: 0.8rem;
    }

    .button {
        width: 22vw;
        font-size: 1rem;
    }
}

@media (width <= 850px) {
    .page {
        justify-content: center;
        align-items: normal;
    }

    .login {
        display: flex;
        flex-direction: column;
        justify-content: start;
        /* align-items: center; */
        gap: 2.5vh;
        width: 80vw;
        height: 50vh;
        padding-inline: 2vw;
        margin-top: 14vh;
    }

    .logo-login {
        /* display: none; */
        order: 1;
        border: 0;
        /* justify-content: center; */
        align-items: center;
        gap: 2vh;
        padding-top: 3vh;
        padding-bottom: 0;
        padding-left: 5vw;
    }

    .logo-login img {
        width: 16vw;
    }

    .logo-login h5 {
        /* background-color: red; */
        display: none;
        width: 60vw;
        text-align: justify;
        font-size: 1rem;
    }

    .form-container {
        order: 2;
        align-items: center;
        padding-bottom: 0;
        gap: 3vh;
    }

    form {
        gap: 2vh;
        /* align-items: center; */
    }

    .judul h1 {
        font-size: 2.5rem;
        letter-spacing: 1px;
    }

    .input-container {
        gap: 1vh;
    }

    .input {
        width: 61vw;
        height: 4.1vh;
        padding-left: 1.5vw;
        font-size: 0.9rem;
    }

    .button {
        width: 62.9vw;
        height: 4.1vh;
    }

    .forgot {
        margin-top: 0.9vh;
    }
}