@font-face {
    font-family: 'source-regular';
    src: url(../../public/font/SourceSerif/SourceSerifPro-Regular.ttf);
}

@font-face {
    font-family: 'source-semi';
    src: url(../../public/font/SourceSerif/SourceSerifPro-SemiBold.ttf);
}

footer .top {
    display: grid;
    grid-template-columns: repeat(4,18.3vw);
    column-gap: 6vw;
    /* display: flex;
    justify-content: space-between;
    gap: 12vw; */
    padding-top: 2.5vh;
    padding-bottom: 6vh;
    padding-left: 4vw;
    padding-right: 8vw;
    background-color: #ecf5ff;
    /* background-color: red; */
}

footer .content {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    /* background-color: red; */
}

footer .judul h1 {
    font-family: 'source-semi';
    font-size: 1.3rem;
    color: #146C94;
    font-weight: 900;
}

footer .link {
    display: flex;
    gap: 0.9vh;
    flex-direction: column;
}

footer .link a {
    font-family: 'source-regular';
    color: #146C94;
    font-size: 1rem;
}

footer .link p {
    font-family: 'source-regular';
    color: #146C94;
    font-size: 1rem;
    cursor: pointer;
}

footer .link a:hover {
    text-decoration: underline;
}

footer .link p:hover {
    text-decoration: underline;
}

footer .logo-footer img {
    width: 14vw;
    margin-top: 4vh;
}

footer #app {
    gap: 1vh;
}

footer .gambar {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vh;
    cursor: pointer;
}

footer #play-store {
    width: 15vw;
    /* height: 10vh; */
}

footer #play-store:hover {
    transform: scale(1.1);
}

footer #play-store:active {
    transform: scale(1.2);
}

footer #app-store {
    width: 15vw;
    /* height: 10vh; */
}

footer #app-store:hover {
    transform: scale(1.1);
}

footer #app-store:active {
    transform: scale(1.2);
}

footer .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'source-regular';
    font-size: 1.1rem;
    background-color: #252525;
    padding-inline: 1.5vw;
    height: 8vh;
}

footer .left p {
    color: #FFFFFF;
}

footer .right p {
    color: #FFFFFF;
}

@media (width <= 1024px) {
    footer .logo-footer img {
        width: 18vw;
        margin-top: 2vh;
    }
}

@media (width <= 774px) {
    footer .top {
        grid-template-columns: repeat(2,25vw);
        justify-content: space-between;
        /* align-items: center; */
        row-gap: 5vh;
        /* padding-right: 25vw; */
    }

    footer .logo-footer img {
        margin-top: 2.5vh;
        width: 20vw;
    }

    footer #company {
        order: 1;
    }

    footer #support {
        order: 2;
    }

    footer .gambar {
        gap: 1.5vh;
    }

    footer #app-store {
        width: 25vw;
    }

    footer #play-store {
        width: 25vw;
    }

    footer .bottom {
        font-size: 1rem;
    }
}

@media (width <= 550px) {
    footer .top {
        padding-right: 12vw;
        padding-bottom: 4vh;
    }

    footer .logo-footer img {
        width: 25vw;
    }

    footer .judul h1 {
        font-size: 1.1rem;
    }

    footer .link a {
        font-size: 0.8rem;
    }

    footer .link p {
        font-size: 0.8rem;
    }

    footer .bottom {
        font-size: 0.8rem;
        height: 4vh;
    }
}

@media (width <= 450px) {
    footer .logo-footer img {
        width: 30vw;
    }

    footer .judul h1 {
        font-size: 1rem;
    }

    footer .link a {
        font-size: 0.7rem;
    }

    footer .link p {
        font-size: 0.7rem;
    }

    footer .bottom {
        font-size: 0.7rem;
    }
}